@media screen and (min-width: 768px) {
    
    .double-column {
        width: calc(100% / 3 * 2);
    }

    .column {
        width: 30%;
    }
}

@media screen and (min-width: 992px) {

    #small-navbar {
        display: none;
    }

    #large-navbar {
        display: block;
    }

    .double-column {
        display: flex;
    }

    .text-card, .image-card {
        width: 50%;
    }

    .double-column, .column {
        max-height: 100%;
    }
}