/* IMPOSTAZIONI GENERALI */

/* COLORI */

/*
AZZURRO SCURO: #0084FD
AZZURRO CHIARO: #B5DDFF
VIOLETTO: #9792E4
ARANCIO: #FDC15F
GRIGIO PER TESTI: #5A6E7F
GRIGIO SCURO FOOTER: #333333
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
    font-family: 'PT Sans', sans-serif;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.bg-secondary {
    background-color: #9792E4;
}

section {
    padding: 3rem 2rem;
    
    /* Da togliere */
    min-height: 500px;
}

footer {
    background-color: #333333;
    
    /* Da togliere */
    min-height: 300px;
}

/* __________________________________ */


/* Intestazione con logo e menu */

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0084FD;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#logo {   
}

#large-navbar {
    display: none;
}

#large-navbar li {
    margin-left: 30px;
}

#large-navbar a {
    color: #fff;
}

#large-navbar a#white-btn {
    background-color: #fff;
    color: black;
}
/* _________________________________ */


/* Caratteristiche principali */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    background-color: #B5DDFF;
    padding: 1rem;
    margin-bottom: 2rem;
    /* Da togliere */
    height: 400px;
    width: 400px;
    border: 1px dashed black;
}

.double-column {
    background-color: #B5DDFF;
    padding: 1rem;
    margin-bottom: 2rem;
    /* Da togliere */
    min-height: 400px;
    width: 400px;
    border: 1px dashed black;;
}

/* ______________________________________ */


/* Sezione planning e developement */

.planning .column{
    background-color: transparent;
    width: 100%;
}

/* ___________________________ */


/* Sezione Testimonials */


.testimonials .column {
    background-color: #9792E4;
}

.testimonials .column:first-child {
    background-color: transparent;
}

/* Sezione Benefits */

.benefits {
    text-align: center;
}

.benefits h2 {
    color: white;
    margin-bottom: 2rem;
}

.benefits .column {
    background-color: white;
}

/* MEDIA QUERY PER RESPONSIVE */

/* ******************************** */

/* SOPRA I 768 PX */

@media screen and (min-width: 768px) {
    
    .container {
        max-width: 700px;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 ;
        }
    
    .column {
        width: calc(100% / 3);
        margin: 0;
    }

    .double-column {
        width: calc(100% / 3 * 2);
        margin: 0;
    }

    .planning .column {
        margin-bottom: 1rem;
    }

    .testimonials.flex-container {
        flex-direction: column;
    }

    .testimonials .column {
        width: 100%;
    }

    .benefits .column {
        width: 50%;
    }
}


/* SOPRA I 992PX */

@media screen and (min-width: 992px) {

   .container {
       max-width: 960px;
   }

   #small-navbar {
       display: none;
   }

   #large-navbar {
       display: block;
   }

   .planning {
       display: flex;
       flex-direction: row;
       justify-content: center;
       padding: 0 4rem;
   }

   .planning .column {
    margin-bottom: 1rem;
    width: 50%;
   }
   
   .benefits .column {
    width: calc(100% / 3);
}
}