/* IMPOSTAZIONI GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 170px;
    font-family: 'PT Sans', sans-serif;
}

img {
    display: block;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 80%;
}

h3 {
    color: #0084FD;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* COLORS */

/* AZZURRO SCURO: #0084FD
AZZURRO CHIARO: #B5DDFF
VIOLETTO: #9792E4
ARANCIO: #FDC15F
GRIGIO PER TESTI: #5A6E7F
GRIGIO SCURO FOOTER: #333333
__________________________________ */


/* Intestazione con logo e menu */

header {
    height: 100px;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0084FD;
    padding: 20px 0;
    display: flex;
    align-items: center;
    z-index: 1;
    margin-bottom: 80px;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 80px;
    height: 30px;
    background-color: #fff;
}

#small-navbar {
    width: 30px;
    height: 30px;
    background-color: #fff;
}

#large-navbar {
    display: none;
}

#large-navbar li {
    width: 90px;
    height: 30px;
    background-color: #fff;
    margin-left: 30px;
}

#large-navbar a {
    color: #fff;
}

/* _________________________________ */


/* Caratteristiche principali */

#main-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.double-column, .column {
    display: flex;
    flex-wrap: wrap;
}

.double-column {
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 20px 15px;
    width: 100%;
    margin-bottom: 20px;
}

.column {
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 20px 15px;
    max-height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.text-card {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-left {
    align-items: flex-start;
}

.image-card {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feat-title {
    width: 80%;
    height: 30px;
    background-color: #0084FD;
}

.feat-description {
    width: 100%;
    height: 200px;
    background-color: #5A6E7F;
}

#blue-btn {
    width: 180px;
    height: 25px;
    background-color: #0084FD;
}

#smartphone {
    width: 200px;
    height: 250px;
    background-color: #fff;
}

.feat-icon {
    width: 80px;
    height: 80px;
    background-color: #0084FD;
}
/* ______________________________________ */


/* Sezione planning e developement */

#strategic-planning {
    background-color: #9792E4;
    padding: 40px 0;
}

#sp-column {
    background-color: transparent;
    padding-top: 30px;
}

#ad-column {
    background-color: #fff;
    border-radius: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sp-image, #ad-image {
    width: 300px;
    height: 300px;
    margin-bottom: 80px;
}

#sp-image {
    border: 2px solid white;
}

#ad-image {
    border: 2px solid black;
}

#sp-column h3 {
    width: 300px;
    height: 25px;
    background-color: #fff;
}

#ad-column h3 {
    width: 250px;
    height: 20px;
    background-color: black;
}

#ad-column .feat-description {
    height: 100px;
}

#arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
}